// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#canvas {
    border: 1px solid black;
    vertical-align: middle;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: #0B0915;
    border: 3px solid #201E28;
}

#controls {

    position: absolute;
    top: 95vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;

}


.footer {
	position: absolute;
	bottom: 0;
}