// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#canvas {
    border: 1px solid black;
    vertical-align: middle;

/*    top: 15vh;
    left: 20vw;*/
  /*  transform: translate(-50%, -50%);*/

    text-align: center;
    margin-top: 2vh;
    background: #0B0915;
    border: 3px solid #201E28;
}

#controls {

    position: absolute;
    top: 95vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    text-align: center;

}


.footer {
	position: absolute;
	bottom: 0;
}

h1{
    display: inline;
}

.subtitle{
    float: right;
}

.song-card {
    background: #B4B4B4;
    text-align: center;
    position: relative;
    width: 80%;
    padding: 10px;
    margin: 2vh 2vw;
}

.song-card span{
    display: block;
    padding: 2px 0 2px 0;
}

#song{
    color: #0C5EB9;
    font-size: 22px;
    background: #D9D9DA; 
    padding: 2px;
}


#artist{
    font-size: 18px;
}


#album{
    font-size: 14px;
}

.controls{
    margin: 2vh 2vw;
    font-size: 3.5em;
    background: #B4B4B4;
    position: relative;
    width: 80%;
    padding: 10px;
    
}

.controls span{
    width: 47%; 
    background: #D9D9DA;
    text-align: center;
    padding: 10px 20px;
    margin-top: 3px;
}